VITE_API_URL=https://cheerful-fulfillment-production-07ac.up.railway.app/api
VITE_APP_SOCKET_URL=https://cheerful-fulfillment-production-07ac.up.railway.app
VITE_GOOGLE_OAUTH_CLIENT_ID=
VITE_PUBLIC_GEOAPIFY_KEY=
