VITE_CLIENT_APP_URL=https://fastship.onrender.com/app
VITE_AUTH_APP_URL=https://fastship.onrender.com/app/#/login
VITE_ADMIN_APP_URL=https://fastship-admin.onrender.com
VITE_ADMIN_AUTH_URL=https://fastship-admin.onrender.com/#/auth/signin
VITE_API_URL=https://fastship-backend.onrender.com/api
