VITE_CLIENT_APP_URL=https://express-magic-client.onrender.com
VITE_AUTH_APP_URL=https://express-magic-client.onrender.com/login
VITE_ADMIN_APP_URL=https://express-magic-admin.onrender.com
VITE_ADMIN_AUTH_URL=https://express-magic-admin.onrender.com/#/auth/signin
VITE_API_URL=https://express-magic-backend.onrender.com/api
